.Icon--wrapper--345Fe {
  display: inline-block;
  fill: inherit;
  position: relative;
}

.Icon--icon--YFXFc {
  display: flex;
  width: 35px;
  height: 35px;

  &.Icon--spinning--33-KF {
    animation: Icon--spin--10Ci3 1s linear infinite;
  }
}

.Icon--hasClick--1qmSA {
  cursor: pointer;
}

@keyframes Icon--spin--10Ci3 {
  to {
    transform: rotate(1turn);
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

::selection {
  color: #fff;
  background: #0685c4;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

html {
  min-height: 100%;
  background: #fff;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-size: 1.6rem;
  line-height: 26px;
  font-family: benton-sans, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -0.02rem;
}

h5 {
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  letter-spacing: 0;
  margin-bottom: 24px;
}

blockquote p {
  margin-bottom: 14px;
}

strong {
  color: #000;
}

.alignright {
  float: right;
  margin-left: 20px;
}

img {
  &[align="left"] {
    margin-right: 20px;
  }

  &[align="right"] {
    margin-left: 20px;
  }
}

.right {
  float: right;
  margin-left: 35px;
}

.left {
  float: left;
  margin-right: 35px;
}

.aligncenter,
.center {
  display: block;
  margin: auto;
  text-align: center;
}

table {
  max-width: 960px;
  margin: 10px 0;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #828282;
  color: #fff;
}

tr {
  background: #e3e3e3;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;

  &:nth-child(2n) {
    background: #f3f3f3;
  }
}

td,
th {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}

td ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    word-wrap: break-word;
  }
}

tfoot {
  tr {
    background: none;
  }

  td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }
}

blockquote {
  display: inline-block;
  padding-left: 18px;
  padding-bottom: 0;
  font-size: 15px;
  line-height: 25px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 10px solid #0685c4;

  ul {
    list-style: none;

    li {
      font-style: italic;
      font-weight: 700;
    }
  }
}

hr {
  border-color: hsla(0, 0%, 89%, 0.33);
  border-width: 0.5px;
}

#disqus_thread {
  margin-left: 15px;
}

.anchor {
  text-decoration: none;
  border-bottom: none !important;
}

.gatsby-highlight pre code {
  padding-left: 52px;
  font-size: 1.5rem;
  position: relative;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

details .gatsby-highlight {
  margin-left: -50px;
}

pre code {
  display: block;
  background: #fff;
  padding: 0.5em;
  color: #333;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
}

.gatsby-highlight pre code {
  &:before {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0 0.5em;
    color: rgba(0, 0, 0, 0.32);
    font-size: 0.9em;
  }

  &.language-js:before {
    content: "JavaScript";
  }

  &.language-css:before {
    content: "CSS";
  }

  .language-yaml:before,
  &.language-yml:before {
    content: "YAML";
  }
}

pre {
  &.language-css code:before,
  &.language-javascript code:before,
  &.language-yml code:before {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0 0.5em;
    color: rgba(0, 0, 0, 0.32);
    font-size: 0.9em;
    content: "javascript";
  }

  &.language-css code:before,
  &.language-yml code:before {
    content: "yaml";
  }

  &.language-css code:before {
    content: "css";
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: #005cc5;
  background: none;
  text-shadow: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

code[class*="language-"] {
  &::-moz-selection,
  ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

pre[class*="language-"] {
  &::-moz-selection,
  ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

code[class*="language-"] {
  &::selection,
  ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

pre[class*="language-"] {
  &::selection,
  ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #eff1f0;
}

:not(pre) > code {
  &[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  &[class="language-text"] {
    display: inline-block;
    padding: 3px 5px;
    color: #e91e63;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.04);
  }
}

code {
  display: inline-block;
  padding: 3px 5px;
  color: #e91e63;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.04);
}

.token {
  &.cdata,
  &.comment,
  &.doctype,
  &.prolog {
    color: #998;
  }

  &.comment {
    color: #7f7f71;
    text-shadow: none;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.attr-value,
  &.string {
    color: #032f62;
  }

  &.operator,
  &.punctuation {
    color: #393a34;
  }

  &.boolean,
  &.constant,
  &.entity,
  &.inserted,
  &.number,
  &.property,
  &.regex,
  &.symbol,
  &.url,
  &.variable {
    color: #36acaa;
  }
}

.language-autohotkey .token.selector {
  color: #00a4db;
}

.token {
  &.atrule,
  &.attr-name {
    color: #00a4db;
  }

  &.keyword {
    color: #00a4db;
    color: #d73a49;
  }

  &.function {
    color: #6f42c1;
  }
}

.language-autohotkey .token.tag,
.token.deleted {
  color: #9a050f;
}

.language-autohotkey .token.keyword {
  color: #00009f;
}

.token {
  &.selector,
  &.tag {
    color: #00009f;
  }

  &.bold,
  &.function,
  &.important {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }
}

@media (max-width: 960px) {
  .gatsby-highlight {
    margin-left: -20px;
    margin-right: -20px;
  }

  details .gatsby-highlight {
    margin-left: -20px;
  }
}

@media (max-width: 768px) {
  blockquote,
  body {
    font-size: 1.5rem;
    line-height: 23px;
  }

  :not(pre) > code[class="language-text"],
  code {
    font-size: 12px;
  }

  .lets-talk {
    display: block;
  }

  #disqus_thread {
    margin-left: 0;
  }

  .gatsby-highlight pre code {
    font-size: 1.3rem;
    padding-left: 20px;

    &:before {
      display: none;
    }
  }

  .left,
  .right {
    float: none;
    display: block;
    margin: auto auto 10px;
  }

  img {
    &[align="left"] {
      margin-right: 0;
    }

    &[align="right"] {
      margin-left: 0;
    }
  }
}

.Sidebar--sidebar--3IZvV {
  width: 23%;
  min-width: 23%;
  border-right: 1px solid #e3e3e3;
  user-select: none;
  position: relative;

  &:after,
  &:before {
    content: "";
    height: 100px;
    width: 1px;
    background: #e3e3e3;
    position: absolute;
    right: -1px;
  }

  &:after {
    top: -60px;
  }
}

.Sidebar--icons--1ET0T {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    cursor: pointer;
    display: block;
    padding: 5px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    &:focus,
    &:hover {
      transform: translateY(-3px);
    }

    &:focus svg,
    &:hover svg {
      fill: #0685c4;
    }
  }

  svg {
    cursor: pointer;
    width: 20px;
    fill: #8b8b8b;

    &:hover {
      fill: #0685c4;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ccc;
    margin: 0 auto;
  }
}

.Sidebar--sidebarFixed--2Sv9H {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 23%;
  min-width: 23%;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #8b8b8b;
    font-weight: 700;
  }
}

.Sidebar--sidebarInner--12de- {
  padding: 20px 20px 20px 25px;
}

.Sidebar--links--1ZXVl {
  margin-top: 10px;
  font-size: 16px;

  a {
    display: block;
    padding: 5px 0;

    &.Sidebar--active--2ymV4 {
      color: #000;

      &:hover {
        color: #000;
      }
    }

    &:hover {
      color: #2a2a2a;
    }
  }
}

.Sidebar--homeNav--2YH-H {
  h1,
  h2,
  h3 {
    margin-bottom: 0;
  }

  h1 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -1px;
    color: #525252;
  }

  h2 {
    margin-top: 10px;
    letter-spacing: 0.3px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 900;
    color: #000;
    font-family: freight-sans-pro, helvetica, sans-serif;
  }

  h3 {
    line-height: 20px;
    color: #585c60;
    margin: 5px 0 10px;
    font-weight: 300;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
  }
}

.Sidebar--mobileTag--2LU-D {
  font-weight: 300;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  display: none;
}

@media (max-width: 900px) {
  .Sidebar--sidebar--3IZvV {
    width: 100%;
  }

  .Sidebar--sidebarFixed--2Sv9H {
    width: 100%;
    position: inherit;
    height: auto;
    border-bottom: 1px solid #e2e2e2;
  }

  .Sidebar--links--1ZXVl {
    display: flex;

    a {
      margin-right: 20px;
    }
  }

  .Sidebar--sidebarInner--12de- {
    padding-left: 20px;
  }

  .Sidebar--mobileTag--2LU-D {
    display: block;
  }

  .Sidebar--about--2lYWu {
    display: none;
  }

  .Sidebar--sidebarInner--12de- {
    padding-bottom: 10px;
  }

  .Sidebar--icons--1ET0T {
    margin-left: 20px;
    flex-direction: row;
    margin-bottom: 10px;

    a {
      margin-right: 20px;
    }

    &:after {
      display: none;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 720px) {
  .Sidebar--sidebar--3IZvV {
    border-right: none;
  }

  .Sidebar--icons--1ET0T {
    display: none;
  }
}

.Default--wrapper--7vAs5 {
  min-height: 100vh;
  background: #fff;
  position: relative;
  display: flex;
  padding-top: 0;
  justify-content: flex-start;
}

.Default--links--1PS21 {
  margin-top: 10px;

  a {
    display: block;
    padding: 5px 0;
  }
}

.Default--content--3Hi3K {
  flex-grow: 1;
  width: 77%;
  min-width: 77%;
  min-height: 100vh;

  h1:first-of-type {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .Default--wrapper--7vAs5 {
    flex-direction: column;
  }

  .Default--content--3Hi3K {
    width: 100%;
  }

  blockquote {
    line-height: 23px;
  }
}

.PostLink--postLink--12YAZ {
  display: block;
  position: relative;
  padding: 25px 20px 25px 50px;
  border-top: 1px solid #e2e2e2;
  overflow-x: hidden;

  &:first-of-type {
    border-top: none;
  }

  a {
    color: #464646;
    text-decoration: none;
  }
}

.PostLink--meta--3ofqs {
  font-size: 12px;
  color: #717171;
}

.PostLink--categoryLink--1xAa3 {
  margin-left: 20px;
}

.PostLink--externalLink--29DFv {
  margin-left: 5px;
}

.PostLink--location--1m6SV {
  margin-left: 5px;
  display: inline-block;
}

.PostLink--title--2Su7m {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 900px) {
  .PostLink--postLink--12YAZ {
    padding-left: 20px;
    padding-right: 20px;
  }

  .PostLink--meta--3ofqs {
    font-size: 12px;
  }

  .PostLink--title--2Su7m {
    font-size: 18px;
  }
}

.Content--postPage--1IYBa {
  max-width: 100%;
  overflow: hidden;
}

.Content--postWrapper--z91XW {
  width: 100%;
}

.Content--contentWrapper--Y1Sp9 {
  margin-top: 50px;
  width: 100%;

  .Content--loadingWrapper--2ySI7,
  .Content--postMeta--3r96v,
  details,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  iframe,
  img,
  p,
  table {
    padding-left: 50px;
  }

  iframe {
    padding-right: 50px;
  }

  li a,
  p a {
    color: #0679b2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
  }

  li a:hover,
  p a:hover {
    color: #0685c4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  blockquote {
    margin-left: 50px;

    a,
    li,
    p,
    ul {
      padding-left: 0;
    }
  }

  li p {
    padding-left: 5px;
  }

  details ul,
  li ul {
    padding-left: 20px;
  }

  details p {
    padding-left: 0;
  }

  ol,
  ul {
    padding-left: 100px;
  }

  .Content--loadingWrapper--2ySI7,
  .Content--postMeta--3r96v,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img:not([width]),
  ol,
  p,
  ul {
    width: 650px;
    max-width: 650px;
    min-width: 650px;
  }

  iframe,
  img {
    max-width: 100%;
  }

  .Content--title--16Njy {
    margin-bottom: 0;
  }

  .Content--postMeta--3r96v {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 22px;
  }

  .Content--postContent--1mTY6 {
    margin-top: 25px;
    margin-bottom: 20px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.Content--editLink--2WpN2 {
  display: flex;
  display: none;
  justify-content: flex-start;
  align-items: center;
  background: #fff;

  a {
    border: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
  }

  .SVGInline,
  svg {
    display: block;
    width: 15px;
    height: 15px;
  }
}

.Content--authorBox--AvHNn {
  margin-top: 30px;
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.Content--authorImage--1R7A2 {
  width: 90px;
  min-width: 90px;

  img {
    width: 60px;
    height: 60px;
  }
}

.Content--comments--xdkpC {
  margin-bottom: 40px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .Content--postWrapper--z91XW {
    padding: 20px;
  }

  .Content--contentWrapper--Y1Sp9 {
    padding: 0;

    h1 {
      font-size: 2.2rem;
      font-size: 2rem;
      line-height: 1.3;
      letter-spacing: -0.025rem;
    }
  }

  .Content--postPage--1IYBa {
    .Content--title--16Njy {
      margin-bottom: 10px;
    }

    img[align="right"] {
      float: none;
      clear: both;
      display: block;
      margin: auto auto 20px;
    }
  }

  .Content--authorBox--AvHNn {
    flex-direction: column;
  }

  .Content--contentWrapper--Y1Sp9 {
    margin-top: 10px;

    .Content--loadingWrapper--2ySI7,
    .Content--postMeta--3r96v,
    details,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    iframe,
    img,
    p,
    table {
      padding-left: 5px;
    }

    iframe {
      padding-right: 0;
    }

    blockquote {
      margin-left: 5px;

      a,
      li,
      p,
      ul {
        padding-left: 0;
      }
    }

    ol,
    ul {
      padding-left: 30px;
    }

    .Content--loadingWrapper--2ySI7,
    .Content--postMeta--3r96v,
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    iframe,
    img:not([width]),
    ol,
    p,
    ul {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}

.TextInput--inputWrapper--1EKzX {
  position: relative;
}

.TextInput--input--1QHwS {
  width: 100%;
  border-radius: 0;
}

.TextInput--inputWrapper--1EKzX {
  width: 100%;
  border-radius: 0;
  margin-bottom: 20px;
}

.TextInput--input--1QHwS {
  padding: 15px 10px;
  border: 1px solid #949494;
  box-shadow: none;
  -webkit-appearance: none;

  &:focus {
    border: 1px solid #000;
    outline: none;
  }
}

.TextInput--validation--MvBSR {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 5px;
  top: 0;
  font-size: 1.3rem;
}

@media (max-width: 720px) {
  .TextInput--input--1QHwS {
    font-size: 16px;
  }
}

.Fieldset--fieldSet--1MpGd {
  display: flex;
  margin-bottom: 20px;

  label {
    user-select: none;
  }
}

.Fieldset--horizontal--Y_xC8 {
  align-items: center;

  .component-label {
    margin-bottom: 0;
  }
}

.Fieldset--vertical--9VOz6 {
  flex-direction: column;
}

.Fieldset--labelWrapper--N4h6j {
  font-size: 12px;
  font-weight: 500;
  color: #9e9e9e;
}

.Copy--copy--2J1Aa {
  &:after {
    opacity: 0.4;
    visibility: hidden;
    position: absolute;
    content: "copy link";
    text-align: center;
    height: 20px;
    transform: none;
    width: 55px;
    font-size: 11px;
    padding: 3px 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #191919;
    top: 85%;
    left: 8px;
    border-radius: 3px;
    transition: 0.25s ease-in-out 0s;
  }

  &:active:after {
    content: "copied!";
    background-color: #787878;
  }

  &:hover:after {
    visibility: visible;
  }
}

.Input--inputWrapper--1F4as {
  position: relative;

  &:hover .Input--copyIcon--30lxq {
    opacity: 1;
  }
}

.Input--input--JOAm_,
.Input--inputWrapper--1F4as {
  width: 100%;
}

.Input--input--JOAm_ {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #949494;

  &:focus {
    border: 1px solid #000;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: #e6e6e6;
  }

  &:read-only {
    cursor: pointer;
  }

  &.Input--hasIcon--2Yvzp {
    padding-left: 30px;
  }

  &.Input--transparent--3PC7G {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
  }

  &.Input--default--2f6Js {
    border-radius: 2px;
    font-size: 16px;
    padding: 11px 15px;
    min-width: 300px;
    display: inline-block;
    box-shadow: 0 0 0 2px rgba(120, 130, 152, 0.25);
    border: none;
    outline: none;
    transition: all 0.3s ease;

    &.Input--valid--1-_ez {
      color: #0685c4;
    }

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px #0685c4;
    }

    &.Input--invalid--MuQfO {
      box-shadow: 0 0 0 2px rgba(216, 0, 50, 0.54);
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: #8b8b8b;
    }
  }

  &.Input--otherFormKind--1C5oH {
    color: #000;
  }
}

textarea.Input--input--JOAm_ {
  padding: 13px 10px;
}

.Input--iconWrapper--HzvGS {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.Input--validation--2Cs32 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: -33px;
  font-size: 1.3rem;
  pointer-events: none;
}

.Input--copyIcon--30lxq,
.Input--validation--2Cs32 {
  position: absolute;
  user-select: none;
  cursor: pointer;
}

.Input--copyIcon--30lxq {
  opacity: 0.2;
  right: -2em;
  top: 0.5em;
  transition: opacity 0.5s;
}

@media (max-width: 768px) {
  .Input--validation--2Cs32 {
    font-size: 11px;
  }

  .Input--input--JOAm_.Input--default--2f6Js {
    background-clip: padding-box;
    outline: none;
  }
}

.TextArea--textArea--2H1Qa {
  min-height: 200px;
  padding: 13px 10px !important;
}

.Button--button--2a549 {
  cursor: pointer;
  background-color: #424242;
  font-family: inherit;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 22px;
  font-size: 18px;
  border: 1px solid #e9ebeb;
  border-bottom-color: #e1e3e3;
  border-radius: 4px;
  background-color: #fff;
  color: rgba(14, 30, 37, 0.87);
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  transition: all 0.2s ease;
  transition-property: background-color, color, border, box-shadow;
  outline: 0;
  font-weight: 500;

  &.Button--hasIcon--ViRCh .Button--buttonText--fmjOM {
    padding-top: 3px;
  }

  &:focus,
  &:hover {
    box-shadow: 0 8px 12px 0 rgba(233, 235, 235, 0.16),
      0 2px 8px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }

  &.Button--primary--1gH9y {
    background: #0685c4;
    color: #fff;
    border-color: transparent;

    &:focus,
    &:hover {
      background: #009dea;
    }
  }

  &.Button--secondary--22F7i {
    background: #424242;
    color: #fff;
  }

  &.Button--tertiary--3wy6b {
    background: #fff;
    color: rgba(14, 30, 37, 0.87);

    &:focus,
    &:hover {
      background-color: #f5f5f5;
      color: rgba(14, 30, 37, 0.87);
    }
  }

  &.Button--danger--3paZf {
    background: #fb6d77;
    color: #fff;

    &:focus,
    &:hover {
      background: #fa3d4a;
    }
  }

  &:focus {
    outline: none;
  }
}

a.Button--button--2a549 {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  border: none !important;
}

.Button--icon--2clqH {
  margin-right: 10px;
  fill: #fff;
}

.Contact--page--26hSr {
  padding: 50px;
}

.Contact--loader--2d2Of {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 39.2%, 0.67);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;

  .Contact--text--3-6TV {
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 25%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
  }
}

.Contact--form--2Z6YG {
  position: relative;
  max-width: 650px;

  label {
    display: none;
  }

  textarea {
    font-family: benton-sans, sans-serif;
  }
}

.Contact--fieldSet--14TT2 {
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .Contact--form--2Z6YG {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .Contact--page--26hSr {
    padding: 20px 30px 80px;
  }

  .Contact--button--15Vim button {
    width: 100%;
  }

  .Contact--text--3-6TV {
    font-size: 28px;
  }

  .Contact--form--2Z6YG textarea {
    font-size: 16px;
  }
}

.Index--homeWrapper--2CPA1 {
  li a,
  p a {
    color: #000 !important;
  }

  li a strong,
  p a strong {
    color: #0679b2 !important;
  }
}

.Work--container--q7orP {
  width: 100%;
  vertical-align: top;
  display: inline-block;

  a {
    color: #464646;
  }
}

.Work--switcher--IU4CX {
  padding-right: 0;
  border: 0 solid #0685c4;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 0;
}

.Work--listToggle--MJJHQ {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &.Work--active--3WCc5 span {
    background: #666;
  }

  span {
    width: 100%;
    height: 4px;
    background: #ccc;
    transition: all 0.3s ease;
  }
}

.Work--gridToggle--rbHpA {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;

  &.Work--active--3WCc5 span {
    background: #666;
  }

  span {
    width: 42%;
    height: 8px;
    background: #ccc;
    transition: all 0.3s ease;
  }
}

.Work--options--1YDqk {
  text-align: right;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 20px;
}

.Work--switcher--IU4CX {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &:after {
      content: " ";
      display: table;
    }

    li {
      display: flex;
      position: relative;
    }
  }
}

.Work--item--11Ia6 a {
  width: 100%;
  border-bottom: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.Work--list--1OtiT {
  ul {
    padding-left: 50px;
    margin-top: 15px;
  }

  li {
    padding: 20px 0;
    white-space: nowrap;
  }

  a {
    display: flex;
    align-items: center;
    border-bottom: none;
  }

  .Work--item--11Ia6 {
    width: 100%;
  }

  .Work--thumbnailWrapper--i6qoT {
    width: 19%;
    min-height: 110px;
  }

  .Work--thumbnailInner--2YRh5,
  .Work--thumbnailWrapper--i6qoT {
    display: flex;
    align-items: center;
  }

  .Work--thumbnail--1URBc {
    display: inline-block;
    max-width: 100%;
    border: 1px solid #e3e3e3;
  }

  .Work--details--2WP81 {
    width: 70%;
    padding: 0 55px;
    overflow: hidden;
    white-space: normal;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
    }
  }

  .Work--description--2z8w- {
    font-size: 14px;
    line-height: 18px;
  }

  .Work--button--2qoiL {
    max-height: 40px;
    margin-right: 5px;
  }
}

.Work--grid--3maJH {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 35px;
  }

  h3 {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .Work--item--11Ia6 {
    width: 27%;
    margin-right: 3%;
    margin-left: 2%;
    margin-bottom: 45px;
  }

  .Work--thumbnailWrapper--i6qoT {
    min-width: 100%;
    max-width: 100%;
    display: block;
  }

  .Work--thumbnail--1URBc {
    max-width: 100%;
    min-height: 180px;
    max-height: 180px;
    border: 1px solid #e3e3e3;
  }

  .Work--description--2z8w- {
    font-size: 12px;
    display: block;
    padding: 0;
    line-height: 20px;
  }

  .Work--details--2WP81 {
    padding-left: 5px;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }

  .Work--button--2qoiL {
    display: none;
  }
}

@media (max-width: 1100px) {
  .Work--grid--3maJH .Work--item--11Ia6 {
    width: 40%;
  }

  .Work--list--1OtiT {
    .Work--thumbnailWrapper--i6qoT {
      min-height: auto;
    }

    .Work--description--2z8w- {
      font-size: 13px;
      line-height: 18px;
    }
  }
}

@media (max-width: 900px) {
  .Work--grid--3maJH .Work--item--11Ia6 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .Work--list--1OtiT {
    ul {
      padding-left: 30px;
    }

    .Work--button--2qoiL {
      display: none;
    }

    .Work--details--2WP81 {
      width: 80%;
    }
  }
}

@media (max-width: 650px) {
  .Work--grid--3maJH {
    .Work--thumbnailWrapper--i6qoT {
      min-width: 80%;
      max-width: 80%;
      text-align: center;
      display: block;
      margin: auto;
    }

    .Work--item--11Ia6 {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e2e2;
    }

    .Work--thumbnail--1URBc {
      min-height: 150px;
      max-height: 150px;
    }

    .Work--description--2z8w- {
      padding: 0 20px;
    }
  }

  .Work--list--1OtiT {
    ul {
      padding-left: 0;
    }

    .Work--thumbnailWrapper--i6qoT {
      width: 30%;
      margin-left: 20px;
    }

    .Work--item--11Ia6 {
      padding-right: 10px;
    }

    .Work--details--2WP81 {
      width: 70%;
      padding: 0 10px 0 20px;

      h3 {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }

  .Work--options--1YDqk {
    margin-right: 25px;
    margin-top: 15px;
  }
}

.CategoryList--title--1h3V0 {
  margin-top: 30px !important;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .CategoryList--title--1h3V0 {
    margin-left: 20px;
  }
}

.styles--footer--3ZQ6A {
  padding-left: 50px;
}

.styles--postMeta--3ZQMm {
  font-size: 14px;
}

.styles--comments--kV-Mj {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.styles--tags--Evi-p a {
  color: #0679b2;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;

  &:hover {
    color: #0685c4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 768px) {
  .styles--footer--3ZQ6A {
    padding-left: 20px;
  }

  .styles--comments--kV-Mj {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.styles--title--CRzrP {
  margin-top: 30px !important;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .styles--title--CRzrP {
    margin-left: 20px;
  }
}
